body {
  text-align: center;
  background-color: black;
  color: white;
  background-image: url('https://riot-web-static.s3.amazonaws.com/images/news/June_2014/SRDB3/srdb3-1_thumb.jpg');
  background-size: 100%;
}
